.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    
}

@media only screen and (min-width: 400px) {
    .card-grid  {
        max-width: 95%;
    }
}

@media only screen and (min-width: 575px) {
    .card-grid  {
        margin-top: 50px;
        max-width: 450px;
    }
}

@media only screen and (min-width: 800px) {
    .card-grid  {
        max-width: 650px;
        margin-top: 75px;
    }
}

@media only screen and (min-width: 1024px) {
    .card-grid  {
        margin-top: 115px;
    }
}