/* on the body class */
body.mobile-nav-expanded {
    overflow-y: hidden;
}

/* styles for the header navigation component */
header {
    background-color: #333333;
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    color: white;
    z-index: 10;
}

header .header-content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

header .logo {
    width: 114px;
    height: auto;
    padding-top: 8px;
}

header .nav-content {
    display: none;
    align-items: center;
}

header .nav-links {
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

header .nav-links a{
    opacity: 0.6;
}

header .nav-links a.active{
    opacity: 1;
}

header .nav-links li {
    list-style: none;
    display: inline-block;
}

header .nav-links li a {
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

header .user-photo {
    background-color: #F4F4F4;
    width: 56px;
    height: 56px;
    display: inline-block;
    border-radius: 50px;
    margin-left: 30px;
}

header .user-photo img {
    width: 100%;
} 

header .nav-burger {
    display: block;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    z-index: 3;
    top: 20px;
    right: 40px;
}

header .nav-burger span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 15px;
    background-color: white;
    transition: all 0.3s ease;
}

header .nav-burger .line-bottom {
    margin-top: 5px;
}

header .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333333;
    width: 100%;
    height: 100vh;
    padding: 5rem 3rem;
    box-sizing: border-box;
    display: none;
}

header .mobile-menu-content {
    height: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
}

header .mobile-menu-content .user-photo {
    width: 100px;
    height: auto;
    margin: 0;
}

header .mobile-menu-content .nav-links {
    position: absolute;
    top: calc(50% - 58px);
    left: calc(50% - 84px);
}


header .mobile-menu-content .nav-links li {
    display: block;
    margin: 30px 0;
}

header .mobile-menu-content .nav-links li a {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

header .mobile-menu-content .logo-link {
    position: absolute;
    bottom: 0;
    left: calc(50% - 80px);
}

header .mobile-menu-content .logo {
    width: 175px;
}

/* burger menu expanded */
header.expanded .mobile-menu-wrapper {
    display: block;
}

header.expanded .nav-burger .line-top {
    transform: rotate(45deg);
    margin-top: 0;
}

header.expanded .nav-burger .line-bottom {
    transform: rotate(-45deg);
    margin-top: -3px;
}




/* on mobile breakpoint - 1024px and larger  */
@media only screen and (min-width: 1024px) {
    header .nav-content {
        display: flex;
    }

    header .nav-burger, header .mobile-menu-wrapper, header.expanded .mobile-menu-wrapper {
        display: none;
    }
}