.party-page .items-total-wrapper {
    position: unset;
    width: 75px;
    top: 260px;
    right: 25vw;
}

.party-page .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 1024px) {
    .party-page .items-total-wrapper {
        position: fixed;
        right: 5vw;
    }
}

@media only screen and (min-width: 1350px) {
    .party-page .items-total-wrapper  {
        right: 15vw;
    }
}

@media only screen and (min-width: 2000px) {
    .party-page .items-total-wrapper {
        right: 25vw;
    } 
}