/* general styles for the app container */
.app {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 80px;
}

.app .background-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: auto;
  right: 75px;
  width: 450px;
  height: auto;
}

.app .page-container {
  position: relative;
  min-height: calc(100vh - 80px);
  padding: 40px;
}

@media only screen and (min-width: 600px) {
  .app .background-image {
    left: 40px;
    right: auto;
    width: 550px;
  }
}

/* on mobile breakpoint - 1024px and larger  */
@media only screen and (min-width: 1024px) {
  .app .background-image {
    width: 660px;
  }
}

.app .error-message {
  width: 90vw;
  border-radius: 10px;
  background-color: #f8eded;
  position: fixed;
  padding: 8px 16px;
  top: 100px;
  left: 5vw;
  z-index: 2;
  border: 2px solid #FF7B73;
}